.Cartao_Card {
    width: 432px;
    height: 234px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 50px;
    background-color: #11D07D;
    border-radius: 7px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    flex-wrap: wrap;
}

.BorderCard2 {
    width: 432px;
    height: 234px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 7px;
    border: 1px solid #50505051;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

.BorderCard_Center2 {
    padding-left: 135px;
    padding-top: 60px;
}

.AddSquare2 {
    margin-left: 55px;
    margin-top: 30px;
}


.flexx2 {
    display:flex;
    width: 332px;
    height: 184px;    
}

.Cartao_Card_Content {
    width: 307px;
    border-radius: 20px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
}

.Cartao_Card_Content_Tittle {
    max-width: 250px;
    min-width: 133px;
    height: 62px;
    margin-top: 16px; 
    margin-left: 20px;
    gap: 48px;
    padding-left:10px;
    padding-top: 10px;  
    overflow: hidden;
    
}

.Cartao_Card_Content_Values {
    margin-left: 30px;
    display:flex;

    margin-top: 150px;
    position: absolute;
    overflow: hidden;
}

.Fonte2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    color: white;
    margin-top: -5px;
}

.Fonte22 {
    font-size: 26px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    color: white;
}

.Cartao_Card_Content_Values .Fonte {
    margin-left: 35px;    
}


.Cartao_Card_Content_Values .Fonte2 {
    color:white
}

.EditIcon2 {
    width: 24px;
    height: 24px;
    margin-left:374px;
    margin-top:25px;
    cursor: pointer;
    position: absolute;
    border-radius: 9px;
    background-color: white
}

.Pointer2{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}