@tailwind components;

@layer components {
    .no-scrollbar::-webkit-scrollbar {
        width: 20px;
    }

    .no-scrollbar::-webkit-scrollbar-thumb {
        background: #9AC70B;
        border-radius: 10px;
    }

    .no-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #9AC70B;
    }
}